.tracking-tighter {
  letter-spacing: -0.1em !important;
}

.icon-sm {
  height: 1.2em;
  width: 1.2em;
}

.contents {
  display: contents;
}

.code-select {
  padding-left: 0;
  max-width: 7rem !important;
  flex-grow: 0;
  background-color: white;
}

.form-control, .form-select {
  border-color: #ddd;
}

.input-group > .search-input {
  display: inline-block;
  width: 11rem;
}

.cell-bb {
  border-bottom: 1px solid #aaa;
}
